RewriteEngine on
RewriteRule ^error$ error.html [L]
RewriteRule ^login$ index.php [L]
RewriteRule ^logout$ logout.php [L]
RewriteRule ^dashboard$ dashboard.php [L]
RewriteRule ^tender$ dashboard.php?menu=tender [L]
RewriteRule ^non_tender$ dashboard.php?menu=non_tender [L]
RewriteRule ^add-tender$ dashboard.php?menu=tambah_tender [L]
RewriteRule ^edit-tender-(.*)$ dashboard.php?menu=edit_tender&id=$1 [L]
RewriteRule ^add-sppbj-(.*)$ dashboard.php?menu=sppbj&id=$1 [L]
RewriteRule ^tambah-sppbj-(.*)$ dashboard.php?menu=tambah_sppbj&id=$1 [L]
RewriteRule ^add-non-tender$ dashboard.php?menu=tambah_non_tender [L]
RewriteRule ^edit-non-tender-(.*)$ dashboard.php?menu=edit_non_tender&id=$1 [L]
RewriteRule ^sppbj-non-tender-(.*)$ dashboard.php?menu=sppbj_non_tender&id=$1 [L]
RewriteRule ^insert-sppbj-non-tender-(.*)$ dashboard.php?menu=tambah_sppbj_non_tender&id=$1 [L]
RewriteRule ^input-kontrak-tender-(.*)$ dashboard.php?menu=input_kontrak_tender&id=$1 [L]
RewriteRule ^view-input-kontrak-tender-(.*)$ dashboard.php?menu=view_input_kontrak_tender&id=$1 [L]
RewriteRule ^input-spmk-tender$ dashboard.php?menu=input_spmk_tender [L]
RewriteRule ^input-pembayaran-tender$ dashboard.php?menu=input_pembayaran_tender [L]
RewriteRule ^input-termin-tender$ dashboard.php?menu=input_termin_tender [L]

RewriteRule ^input-spmk-non-tender$ dashboard.php?menu=input_spmk_non_tender [L]
RewriteRule ^input-pembayaran-non-tender$ dashboard.php?menu=input_pembayaran_non_tender [L]
RewriteRule ^input-termin-non-tender$ dashboard.php?menu=input_termin_non_tender [L]

RewriteRule ^pencatatan-non-tender$ dashboard.php?menu=pencatatan_non_tender [L]
RewriteRule ^pencatatan-swakelola$ dashboard.php?menu=pencatatan_swakelola [L]
RewriteRule ^pengadaan-darurat$ dashboard.php?menu=pengadaan_darurat [L]

RewriteRule ^add-pencatatan-non-tender$ dashboard.php?menu=add_pencatatan_non_tender [L]
RewriteRule ^add-pencatatan-swakelola$ dashboard.php?menu=add_pencatatan_swakelola [L]
RewriteRule ^add-pengadaan-darurat$ dashboard.php?menu=add_pengadaan_darurat [L]

RewriteRule ^input-kontrak-non-tender-(.*)$ dashboard.php?menu=input_kontrak_non_tender&id=$1 [L]
RewriteRule ^view-input-kontrak-non-tender-(.*)$ dashboard.php?menu=view_input_kontrak_non_tender&id=$1 [L]

Options All Indexes
ErrorDocument 404 error